#info 
  width: 800px
  margin: 40px auto


ul.contact_info
  margin: 20px 0 0 300px
  li
    border-left: 2px solid red
    text-align: left
    padding: 10px
    line-height: 22px
#demo_log_in
  text-align: left
  margin-top: 120px
  
#demo_box
  background-color: white
  display: none

.images
  width: 310px
  .coming_soon
    margin-top: 20px