body
  background-color: #14477f

#info 
  width: 250px
  padding-top: 30px
  margin: 80px auto 20px auto
  border: solid 2px white
  #twitter_icon 
    float: left
    margin-left: 20px
  #facebook_icon
    float: left
    margin-left: 60px


ul.contact_info
  margin: 50px 0
  width: 200px
  border-left: solid 1px #194a80
  border-right: solid 1px #194a80
  li
    text-align: center
    padding: 10px
    line-height: 22px
    color: #194a80
    a
      color: #fff
  
#demo_box
  background-color: white
  display: none

.images
  width: 200px
  .coming_soon
    margin-top: 30px