$main_color: #194a80

section
  width: 1020px

#main_header
  margin: 0 auto
  width: 100%
  #left
    border-right: $main_color solid 3px
    float: left
    ul
      li
        text-align: right
  #right
    border-left: $main_color solid 3px
    float: left
    ul
      li
        text-align: left

  
  #left, #right
    width: 200px
    ul
      li
        text-transform: uppercase
        border-top: $main_color solid 1px
        padding: 15px
        &:first-child
          border-top: none
        a
          color: #636363
  #center
    width: 520px
    float: left
    padding: 0 20px
    margin-bottom: 10px
    .caption_1
      font-size: 10px
    .caption_2
      font-size: 16px
  ul
    padding: 0px
    margin: 0px

#project_slider
  clear: both

#slider_container
  position: relative
  #left_arrow
    position: absolute
    left: 200px
    top: 155px
  #right_arrow
    position: absolute
    right: 200px
    top: 155px

#news
  margin-top: 20px
  font-size: 20px  
  text-transform:  uppercase
  span#news_header 
    font-weight: bold
    color: gray
    font-family: tahoma
  span.title
    color: black
  span.body
    color: gray 
    